<div class="layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="/dashboard/campaigns">List Campaigns</a></li>
      <li><a routerLink="/dashboard/create">Create Campaign</a></li>
    </ul>
  </aside>

  <div class="main-content">
    <header class="header">
      <div class="brand">
        <img src="logo.png" alt="Moneytolia Logo" class="logo">
      </div>
      <button class="logout-button" (click)="logout()">Logout</button>
    </header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
